.CenterMenu-title span {
  text-align: left;
  margin: 0px;
  color: rgb(54, 65, 65);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.CenterMenu-title {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  transition: background-color 0.4s ease 0s;
  color: rgb(81, 94, 95);
  border-bottom: 1px solid rgb(222, 225, 225);
  padding: 15px 16px;
}

.CenterMenu {
  display: inline-block;
  width: 60%;
  vertical-align: top;
}
